<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.hanip.menu.MenuMapper">

    <insert id="menuPost">
        INSERT INTO menus
        SET id = #{id}
        ,   store_id = #{storeId}
        ,   name = #{name}
        ,   comment =#{comment}
        ,   price = #{price}
        ,   image_path = #{imagePath}
    </insert>

    <select id="menuGetList">
        SELECT id AS menuId, store_id, name, comment, price, image_path
        FROM menus
        ORDER BY id DESC
    </select>

    <select id="menuGetOne">
        SELECT id AS menuId, store_id, name, comment, price, image_path
        FROM menus
        WHERE id = #{menuId}
    </select>

    <update id="menuModify">
        UPDATE menus
        SET name = #{name}
        ,   comment =#{comment}
        ,   price = #{price}
        ,   image_path = #{imagePath}
        WHERE id = #{menuId}
    </update>
    <delete id="menuDelete">
        DELETE FROM menus
        WHERE id = #{menuId}
    </delete>





</mapper>