<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.hanip.review.ReviewMapper">
    <insert id="save">
        INSERT INTO review
        SET user_id = #{userId},
            order_id = #{orderId},
            rating = #{rating},
            comment = #{comment},
            image_path = #{imagePath}
    </insert>

    <select id="findAllByUserIdOrderByIdDesc">
        SELECT r.id, r.rating, r.comment, r.owner_comment, r.created
        FROM reviews r
        JOIN orders o
        ON o.id = r.order_id
        JOIN order_menus om
        ON om.order_id = o.id
        WHERE r.user_id = #{userId}
        ORDER BY r.id DESC
    </select>

    <select id="findByReviewId">
        SELECT id, store_id, user_id, rating, comment, created_at
        FROM review
        WHERE id = #{reviewId}
    </select>

    <update id="reviewModify" parameterType="kr.co.hanip.review.model.ReviewPutReq">
        UPDATE review
        SET rating = #{rating}, comment = #{comment}
        WHERE id = #{reviewId} AND user_id = #{userId}
    </update>

    <delete id="reviewDelete" parameterType="kr.co.hanip.review.model.ReviewDeleteReq">
        DELETE FROM review
        WHERE id = #{reviewId} AND user_id = #{userId}
    </delete>

</mapper>
