<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hanip.store.StoreMapper">
    <insert id="save">
        INSERT INTO stores
        SET user_id = #{userId}
        , category = #{category}
        , name = #{name}
        , comment = #{comment}
        , business_number = #{businessNumber}
        , license_path = #{licensePath}
        , address = #{address}
        , owner_name = #{ownerName}
    </insert>

    <select id="findAllStore">
        SELECT s.id AS storeId, s.name, s.category, s.is_open
        , COUNT(DISTINCT f.user_id, f.store_id) AS likeCount
        , IFNULL(AVG(r.rating), 0) AS avgRating
          FROM stores s
          LEFT JOIN favorites f ON s.id = f.store_id
          LEFT JOIN orders o ON s.id = o.store_id
          LEFT JOIN reviews r ON o.id = r.order_id
        <where>
            <if test="searchText != null and searchText != ''">
            s.name LIKE '%${searchText}%'
            </if>
            <if test="category != null and category != ''">
            AND s.category = #{category}
            </if>
        </where>
          GROUP BY s.id;
    </select>

    <select id="findStoreByStoreId">
        SELECT *
        FROM stores
        WHERE id = #{storeId}
    </select>

    <update id="modifyStoreByUserId">
        UPDATE stores
        SET category = #{category}
        , name = #{name}
        , comment = #{comment}
        , business_number = #{businessNumber}
        , license_path = #{licensePath}
        , address = #{address}
        , tel = #{tel}
        WHERE id = #{storeId}
        AND user_id = #{userId}
    </update>

    <delete id="deleteStoreByStoreIdAndUserId">
        DELETE FROM stores
        WHERE id = #{storeId}
        AND user_id = #{userId}
    </delete>
</mapper>