<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hanip.user.UserMapper">
    <insert id="save">
        INSERT INTO users
        SET name = #{name},
            login_id = #{loginId},
            login_pw = #{loginPw},
            address = #{address},
            phone = #{phone},
            email = #{email},
            image_path = #{imagePath},
            role = #{role}
    </insert>

    <select id="findByLoginId">
        SELECT id, login_pw
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <select id="findByUserId">
        SELECT id, name, login_id, address, phone, email, image_path, role, created
        FROM users
        WHERE id = #{userId}
    </select>
</mapper>